.nav {
    position: fixed;
    background-color: #3d3f42;
    height: 100vh;
    text-align: center;
    width: 5%;
    top: 0;
    z-index: 2;
  }
  
  .hamburger-icon {
    margin: 16px auto;
    margin-bottom: 100px;
    display: none;
  }
  
  .nav-list {
    margin: 0;
    padding: 0;
  }
  
  .nav-link {
    display: flex;
    padding: 20px;
    text-decoration: none;
    color: white;
  }
  
  .nav-link-active {
    background-color: #252729;
  }
  
  .nav-link-content {
    margin-left: 10px;
  }

  .logout-icon {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  